body {
    background-color: var(--background-color);
}

#timeline {
    margin: 20px auto;
    width: 20px;
    background: linear-gradient(66deg, rgba(5,109,187,1) 0%, rgba(0,212,255,1) 100%);;
    border-radius: 10px;
}

.timelineEntry {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: cadetblue;
    margin-left: -50%;
}

.timelineEntryContainer {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 100%;
    display: inline-block;
}

.leftAlignedEntry {
    float: right;
}

.rightAlignedEntry {
    float: left;
}

.projectName {
    position: relative;
    font-size: 2vw;
    color: white;
    bottom: 40px;
}

.dateCreated{
    position: relative;
    font-size: 1.5vw;
    color: white;
    top: -20px;
}

.horizontalLine {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: max-content;
    height: 10px;
    background-color: cadetblue;
    border-radius: 10px;
}

.rightAlignedText {
    position: relative;
    padding-left: 60px;
    padding-right: 10px;
    text-align: right;
}

.leftAlignedText {
    position: relative;
    padding-right: 60px;
    padding-left: 10px;
    text-align: left;
}