body {
    background-color: var(--background-color);
}

#timeline {
    margin: 20px auto;
    width: 1%;
    background: linear-gradient(66deg, rgba(5,109,187,1) 0%, rgba(0,212,255,1) 100%);;
    border-radius: 10px;
}

.timelineEntry {
    position: relative;
    width: 250%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.timelineEntryContainer {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 100%;
    display: inline-block;
}

.leftAlignedEntry {
    float: right;
}

.rightAlignedEntry {
    float: left;
}

.projectName {
    position: absolute;
    font-size: 2vw;
    display: inline-block;
    white-space: nowrap;
    color: white;
    bottom: 2.5vw;
}

.dateCreated{
    position: absolute;
    font-size: 1.5vw;
    display: inline-block;
    white-space: nowrap;
    color: white;
    top: -1.5vw;
}

.horizontalLine {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 25%;
    border-radius: 10px;
    text-align: justify;
}

.rightAlignedText {
    position: relative;
    padding-left: 6vw;
    padding-right: 1vw;
    float: right;
}

.leftAlignedText {
    position: relative;
    padding-right: 6vw;
    padding-left: 1vw;
    float: left;
}

.rightElementShown {
    animation: 0.5s showRightElement;
    animation-fill-mode: forwards;
}

.leftElementShown {
    animation: 0.5s showLeftElement;
    animation-fill-mode: forwards;
}

.rightElementHidden {
    animation: 0.5s showRightElement;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.leftElementHidden {
    animation: 0.5s showLeftElement;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

#nowTextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

#nowTitle {
    font-size: 1.5vw;
    color: grey;
    text-align: center;
}

#nowDate {
    font-size: 1vw;
    color: grey;
    text-align: center;
}

@keyframes showRightElement {
    from{
        opacity: 0;
        transform: translateX(10vw);
    }
    to{
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes showLeftElement {
    from{
        opacity: 0;
        transform: translateX(-20vw);
    }
    to{
        opacity: 1;
        transform: translateX(-50%);
    }
}
