body{
    background-color: var(--backgroundColor);
    /*overflow-y: hidden;*/
}

#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

#logoLeftArrowImage{
    position: relative;
    right: 1%;
    animation: 2s logoLeftArrowMovement;
    animation-fill-mode: forwards;
}

#logoText{
    position: absolute;
    color: white;
    font-family: sans-serif;
    animation: textMovement 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    text-decoration: none;
}

#logoText::before{
    content: '';
    position: absolute;
    width: 110%;
    height: 100%;
    left: 0%;
    background-color: var(--backgroundColor);
    animation: textReveal 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#logoRightArrowImage{
    position: relative;
    left: 1%;
    animation: 2s logoRightArrowMovement;
    animation-fill-mode: forwards;
}

@keyframes textReveal {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@media (orientation: landscape) {
    #logoText {
        font-size: 3.5vw;
    }

    #logoLeftArrowImage {
        width: 3%;
    }

    #logoRightArrowImage {
        width: 3%;
    }

    @keyframes logoLeftArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            right: 1%;
        }
        100%{
            right: 7%;
        }
    }
    
    @keyframes logoRightArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            left: 1%;
        }
        100%{
            left: 7%;
        }
    }
    
    @keyframes textMovement {
        from{
            left: 50%;
        }   
        to{
            left: 43.7%;
        } 
    }
}

@media (orientation: portrait) {
    #logoText {
        font-size: 9.5vw;
    }

    #logoLeftArrowImage, #logoRightArrowImage {
        width: 7%;
    }

    @keyframes logoLeftArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            right: 1%;
        }
        100%{
            right: 20%;
        }
    }
    
    @keyframes logoRightArrowMovement {
        0%{
            opacity: 0%;
            top: 40%;
        }
        50%{
            opacity: 100%;
            top: 0%;
            left: 1%;
        }
        100%{
            left: 20%;
        }
    }
    
    @keyframes textMovement {
        from{
            margin-left: 70%;
        }   
        to{
            margin-left: 0%
        } 
    }
}