.selectButton {
    position: absolute;
    height: 15vh;
    aspect-ratio: 1/1;
    background-color: var(--selectButtonbackgroundColor);
    color: white;
    border-radius: 15%;
    font-size: 3vh;
    opacity: 0;
    border-color: #47615e;
    border-width: 5px;
    border-style: solid;
}


#contactButton {
    animation: 1s contactButtonMovement;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#projectTimelineButton {
    animation: 1s projectTimelineButtonMovement;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#projectImagesButton {
    animation: 1s projectImagesButtonMovement;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


@keyframes projectTimelineButtonMovement {
    from{
        margin-bottom: 0vh;
        margin-right: 0vw;
        opacity: 0;
    }   
    to{
        margin-bottom: 50vh;
        margin-right: 40vw;
        opacity: 1;
    } 
}

@keyframes contactButtonMovement {
    from{
        margin-top: 0vh;
        margin-left: 0vw;
        opacity: 0;
    }   
    to{
        margin-top: 50vh;
        margin-left: 40vw;
        opacity: 1;
    } 
}

@keyframes projectImagesButtonMovement {
    from{
        margin-top: 0vh;
        margin-left: 0vw;
        opacity: 0;
    }   
    to{
        margin-top: -50vh;
        margin-left: 40vw;
        opacity: 1;
    } 
}